<button *ngIf="!isLoggedIn" class="button-primary sm" (click)="login()">Login</button>
<div class="user" *ngIf="isLoggedIn" (click)="toggleUserBox()">
    <div class="material-symbols-outlined">account_circle</div>
</div>
<div class="user-box" *ngIf="isLoggedIn" [class.active]="active">
    <div class="material-symbols-outlined">account_circle</div>
    <div class="user-name">{{ user.name }}</div>
    <div class="user-email">{{ user.email }}</div>
    <button class="button-outline" (click)="logout()">Logout</button>
</div>
