.user {
    & .material-symbols-outlined {
        font-size: 40px;
    }
}

.user-name {
    font-size: 12px;
}

.user-box {
    display: none;
    width: 256px;
    padding: 24px 16px;
    border-radius: 8px;
    position: absolute;
    background-color: #FFF;
}

.user-box.active {
    display: grid;
}
