<div class="product-detail" *ngIf="product">
    <div class="product-title">{{ product.title }}</div>
    <swiper
        [slidesPerView]="1"
        [spaceBetween]="48"
        [navigation]="true"
        [thumbs]="{ swiper: thumbsSwiper }"
    >
        <ng-template swiperSlide *ngFor="let image of product.images">
            <img [src]="image" [alt]="product.title">
        </ng-template>
    </swiper>
    <swiper
        (swiper)="thumbsSwiper = $event"
        [slidesPerView]="3"
        [spaceBetween]="24"
        class="swiper-thumbs"
    >
        <ng-template swiperSlide *ngFor="let image of product.images">
            <img [src]="image" [alt]="product.title">
        </ng-template>
    </swiper>
    <div class="product-description">{{ product.description }}</div>
    <div class="product-price">{{ product.price | currency: '$' }}</div>
    <div class="button-group">
        <button class="button-primary">Comprar</button>
        <button class="button-icon" (click)="readAndUpdate()">
            <span class="material-symbols-outlined">edit_note</span>
        </button>
        <button class="button-icon" (click)="update()">
            <span class="material-symbols-outlined">edit</span>
        </button>
        <button class="button-icon" (click)="delete()">
            <span class="material-symbols-outlined">delete</span>
        </button>
        <button class="button-icon" (click)="downloadImage()">
            <span class="material-symbols-outlined" *ngIf="!downloaded">download</span>
            <span class="material-symbols-outlined" *ngIf="downloaded">download_done</span>
        </button>
    </div>
</div>
