.product-title,
.product-price {
    color: var(--text-color-secondary);
    font-weight: bold;
    padding: 16px 0;
}

.product-title {
    font-size: 32px;
}

.product-price {
    font-size: 24px;
}

.button-group {
    display: flex;
}
