<div class="overflow" [class.active]="active" *ngIf="product">
    <div class="product-detail-content">
        <div class="product-detail-header">
            <button (click)="close()">
                <span class="material-symbols-outlined">arrow_back</span>
            </button>
        </div>
        <div class="product-detail-body">
            <img [src]="product.images[0]" alt="{{ product.title }}">
            <div class="product-title">{{ product.title }}</div>
            <div class="product-price">{{ product.price | currency: '$' }}</div>
            <div class="product-description">{{ product.description }}</div>
            <button class="button-primary">Comprar</button>
        </div>
    </div>
</div>
