:root {
    --primary-color: #d1c5b3;
    --text-color-primary: #000;
    --text-color-secondary: hsl(240deg, 2%, 70%);
    --button-bg-primary: hsl(240deg, 2%, 70%);
    --hr-border-color: hsl(240deg, 2%, 80%);
}
