<div class="shopping-cart-info">
    <div class="shopping-cart-length">
        {{ shoppingCart.length }} products
    </div>
    <div class="shopping-cart-total">
        {{ shoppingCartTotal | currency: '$'  }}
    </div>
</div>
<div class="product-list">
    <app-product *ngFor="let product of products" [product]="product" (addedProduct)="showProductDetailModal()"></app-product>
</div>
<app-product-detail [class.active]="productDetailActive" (closed)="onProductDetailClosed()"></app-product-detail>
