.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 128px);
    justify-content: center;
    grid-gap: 16px 8px;
    padding: 16px 0;
}

.shopping-cart-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding: 0 24px;
}

.shopping-cart-total {
    font-size: 16px;
    font-weight: bold;
}
