img {
    align-self: center;
    max-width: 100%;
    justify-self: center;
    border-radius: 4px;
}

.product-title {
    align-self: center;
    color: #bfbebc;
    font-size: 11px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-price {
    font-weight: 700;
    font-size: 14px;
}
