img {
    align-self: center;
    max-width: 80%;
    max-height: 80%;
    justify-self: center;
}

button {
    border: 0;
    background-color: transparent;
    color: hsl(240deg, 2%, 70%);
    cursor: pointer;
    padding: 0;

    & .material-symbols-outlined {
        font-weight: bold;
    }
}

.product-title {
    align-self: center;
    color: #bfbebc;
    font-size: 11px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.product-price {
    font-weight: 700;
    font-size: 14px;
}
